<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D2697461A5DF40700143BFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D2697511A5DF40700143BFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D2697701A5DF56700143BFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D6DEEFA1BC2E546001A94ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DB0FA721BC1CA71005EB8B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
